/* GLOBAL */

* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


html {
  font-family: 'Open Sans',sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}




/* FONT */

body {
  margin: 0;
  display:block;
  padding:20px 0 120px;
}

p, h1, h2 {
	color:#555;
}

p a {
	color:#009999;
	text-decoration:underline;
}

h1 {
	text-align:right;
	font-size:18px;
	margin:0 0 0.5em;
}

p a {
	text-decoration:underline;
	transition: opacity .7s;
}

p a:hover {
	opacity: 0.6;
}

a {
	color:inherit;
	transition: color .7s;
	text-decoration:none;
}


/* NAV */
.nav {
	font-size:11px;
	box-sizing: initial;
}

.nav p {
	margin:0.3em 0;
}

.nav p a {
	text-decoration:none;
	color:inherit;
	border-bottom: 1px solid transparent;
  	transition: all ease-in-out .35s;
}

.nav p a:hover {
	border-bottom: 1px solid #555;
}

.right {
	float:right;
	margin-bottom:20px;
}

.left {
	float:left;
}

/* BODY */

.main {
	margin:20px 0;
}

img {
  width:100%;
  background-size:cover;
}

.center {
  position: absolute;
  top: 10%;
  left: 70%;
  transform: translate(-50%, -10%);
  font-size: 14px;  
  width:500px;
  text-align:left;
  color:#404246;
}

.text-container {
  margin:0 auto;
  max-width:700px;
}

.button {
	background-color:#009999;
	color:#ffffff;
	padding:14px 28px;
	text-align:center;
	font-weight:600;
	border-radius:3px;
	max-width:400px;
	margin: 0 auto;
	display:block;
	transition: opacity .7s;
}

.button:hover {
	opacity:0.6;
}

.container {
	max-width:1100px;
	margin-left:auto;
	margin-right:auto;
	padding:0 16px;
}

.container.img {
	padding:0;
}	

.credit {
	float:right;
	margin-top:20px;
	color:#555;
	border-bottom: 1px solid transparent;
  	transition: all ease-in-out .35s;
}

.credit:hover {
	border-bottom: 1px solid #555;
}




/* MOBILE */
@media (max-width: 720px) {
	
	.left {
		float:none;
	}
	
	.right {
		float:none;
		margin-top:20px;
	}
	
	.right h1 {
		text-align:center;
	}


	
}







