/* Global */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family:'Crimson Text',sans-serif;
    padding: 40px 20px;
    display: block;
}

p, h1, h2, h3 {
    color:#505256;
    text-align:center;
}

.button {
    background-color:#66699;
    padding: 14px 28px;
    color:#ffffff;
}
